<ion-view view-title="Build Your Boat:">
  <ion-content> 
    

<div class="intro">
  Before you start out on your Journey, you must build your boat.  Follow the steps below to build it.
</div>
   
    <div class="button-bar bold">
      <a class="button button-assertive" ui-sref="members.boat.1">1</a>
      <a class="button button-assertive" ui-sref="members.boat.2">2</a>
      <a class="button button-assertive" ui-sref="members.boat.3">3</a>
      <a class="button button-assertive">4</a>
      <a class="button button-assertive">5</a>
      <a class="button button-assertive">6</a>
    </div>
    
    
    <div></div>
    
    <ion-nav-view name="boatview" style="height:500%"></ion-nav-view>
    
    
    <!-- ++++++++++++++++++++++++++++++ Zubair Comment 10th March,2015 +++++++++++++++++++++++++++++++++
    
    All the boat pages and routing you have done were totally correct. I just provided height css property in the
    ion-nav-view where pages are loading. And 500% is basically the maximum height of any mobile screen. So
    our template will now have quite much space to be get loaded.
    
    
    -->
    
    
    </div>
    
  </ion-content>
</ion-view> 