

<ion-view view-title="Boat Step #1">
  <ion-content> 
    
    
    <div class="card royal">
      
      <div class="item item-divider royal">
        <h2>Boat step 1</h2>
      </div>
      
      <div class="item item-text-wrap">
        <p><b>Boat 1 Details.</b> <br>
        Let's see what happens if I type a lot of nonsense in this areas to see if it text wrap itself and keep everything inside the card box. alright? </p>
        <p></p>

        <p><b>Boat 1 Calculators</b><br>
        I will list some of the calculators here...
        </p>
        
      </div>
      <div class="item item-divider">
        <h2>Boat step 1 Summary</h2>
      </div>
    
    </div >
      
    <div class="padding">
      <button class="button button-balanced icon-right ion-chevron-right" style="float:right">Go To The Next Step</button>
    </div>
    
  </ion-content>
  
</ion-view> 
