<ion-view view-title="Start Your Engines!">
  <ion-content>
    <div class="intro">
      <H3>"Why row your boat when an engine can do a better job for you?"</h3>
    </div>
    <div class="button-bar button-assertive button-inset">
      <a class="button">Intro</a>
      <a class="button">Engine</a>
      <a class="button">Upgrades</a>
      <a class="button">Future</a>
    </div>
    
    <div class="card">
      <div class="item item-divider">
        <h2>Intro</h2>
      </div>
        
      <div class="item item-text-wrap">
        <p>Details here</p>
      </div>
        
      <div class="item item-divider">
        <h2>Next Navigator</h2>
      </div>
    </div>
  </ion-content>
</ion-view>