<ion-view view-title="Explore Your Lake">
  <ion-content>
    <div class="intro">
      <H3>Once you have your Boat and Compass set up, start exploring your Lake. </H3>
    </div>
     <div class="card card-royal">
      <div class="item item-divider">
        <h2>Intro</h2>
      </div>
      <div class="item item-text-wrap">
        <div>More Details </div>
        <div> Your Lake is your warm market.  These are people who already know you, and is the perfect place to practice growing your QiTree. </div>
        <div> Functions: will insert social media functions here. </div>
      </div>
    </div>
    
  </ion-content>
</ion-view>