<ion-view view-title="Explore The Ocean!">
  <ion-content>
    <div class="intro">
      <h3>"Once you've outgrown your Lake, it's time to head out into the Open Waters!" </h3>
    </div>
    
     <div class="card">
      <div class="item item-divider">
        <h3>Ocean Details</h3>
      </div>
      <div class="item item-text-wrap">
           <div>This is the realm that most people never venture out to, but it is also the realm that successful people have mastered.  Here you will learn how to grow your circle of influence above and beyond anything you've had before. </div>

      </div>
    </div>
    
 

  </ion-content>
</ion-view>