
<ion-view view-title="hi mission here">
  <ion-content>
    <div class="list">
<!-- the first one is not showing up for some reason -->

      <a class="item item-icon-left item-icon-right" href="#">      
        <i class="icon ion-chevron-left icon-accessory"></i>
        Stepping Stones 1a
        <i class="icon ion-arrow-graph-up-right"></i>
      </a>
            
      <a class="item item-icon-left item-icon-right" href="#">
        <i class="icon ion-chevron-left icon-accessory"></i>
        Stepping Stones 
        <i class="icon ion-arrow-graph-up-right"></i>
      </a>

      <a class="item item-icon-left item-icon-right" href="#/tab/mission/boat">
        <i class="icon ion-chevron-left icon-accessory"></i>        
        Build Your Boat
        <i class="icon ion-help-buoy"></i>
      </a>

      <a class="item item-icon-left item-icon-right" href="#">
        <i class="icon ion-chevron-left icon-accessory"></i>  
        Your Compass
        <i class="icon ion-compass"></i>
      </a>

      <a class="item item-icon-left item-icon-right" href="#">
        <i class="icon ion-chevron-left icon-accessory"></i> 
        Explore Your Lake
        <i class="icon ion-waterdrop"></i>
      </a>

      <a class="item item-icon-left item-icon-right" href="#">
       <i class="icon ion-chevron-left icon-accessory"></i> 
        Explore The Ocean   
       <i class="icon ion-map"></i>     
      </a>

      <a class="item item-icon-right" href="#">
        <i class="icon ion-alert-circled"></i>
        What Else?   
      </a>

    </div>
  </ion-content>
</ion-view>
